#### 따릉이

In [2]:
%cd data
%ls
%cd ..

E:\github\proj_sponge_bycicle\data
 E 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 2468-0A05

 E:\github\proj_sponge_bycicle\data 디렉터리

2018-04-04  오후 02:46    <DIR>          .
2018-04-04  오후 02:46    <DIR>          ..
2018-02-01  오후 04:37         2,551,880 bycicleRental2016.xlsx
2018-02-01  오후 04:37         6,328,242 bycicleRental2017.xlsx
               2개 파일           8,880,122 바이트
               2개 디렉터리  224,800,985,088 바이트 남음
E:\github\proj_sponge_bycicle

## read& merge
bycicleRental_tot.xlsx

In [1]:
import pandas as pd

In [2]:
xls_file= pd.ExcelFile('data/bycicleRental2016.xlsx')

In [3]:
sn16= xls_file.sheet_names
rent16= xls_file.parse(sn16[0])

In [4]:
print(rent16.shape)
# rent16

(99829, 4)

In [5]:
xls_file= pd.ExcelFile('data/bycicleRental2017.xlsx')

In [6]:
sn17= xls_file.sheet_names
rent17= xls_file.parse(sn17[0])

In [7]:
print(rent17.shape)
# rent17

(245446, 4)

In [19]:
rent17.rentdate[0]

Timestamp('2017-01-01 00:00:00')

In [9]:
rent= pd.merge(rent16, rent17, how='outer')

In [10]:
print(rent16.shape)
print(rent17.shape)
print(rent.shape)

(99829, 4)
(245446, 4)
(345275, 4)

In [11]:
99829+245446

345275

#### merge한거 excel로 저장

In [12]:
pd.ExcelWriter?

In [23]:
writer= pd.ExcelWriter('data/bycicleRental_tot.xlsx')
rent.to_excel(writer, sheet_name='rent1617', index= False)
writer.save()

In [24]:
xls_file_tot= pd.ExcelFile('data/bycicleRental_tot.xlsx')

In [15]:
sn= xls_file_tot.sheet_names

In [16]:
sn[0]

'rent1617'

In [17]:
# xls_file.parse?

In [25]:
rent_tot= xls_file_tot.parse(sn[0])#, parse_dates=['rentdate'])

In [26]:
print(rent_tot.shape)
rent_tot

(345275, 4)

          area                location   rentdate  rentcnt
0       그룹명 없음                 대여소명 없음 2016-01-01        0
1          광진구     500. 어린이대공원역 3번출구 앞 2016-01-01        7
2          광진구            501. 광진구의회 앞 2016-01-01        0
3          광진구      502. 뚝섬유원지역 1번출구 앞 2016-01-01        9
4          광진구        503. 더샵스타시티 C동 앞 2016-01-01        8
5          광진구          504. 신자초교입구교차로 2016-01-01        1
6          광진구     505. 자양사거리 광진아크로텔 앞 2016-01-01        4
7          광진구            515. 광양중학교 앞 2016-01-01        2
8          광진구            516. 광진메디칼 앞 2016-01-01        2
9          마포구        101. (구)합정동 주민센터 2016-01-01        3
10         마포구         102. 망원역 1번출구 앞 2016-01-01       13
11         마포구         103. 망원역 2번출구 앞 2016-01-01        2
12         마포구         104. 합정역 1번출구 앞 2016-01-01        3
13         마포구         105. 합정역 5번출구 앞 2016-01-01        4
14         마포구         106. 합정역 7번출구 앞 2016-01-01        6
15         마포구    107. 신한은행 서교동금융센터점 앞 2016-01-01        2
16         마포구            108. 서교동 사거리 2016-01-01        7
17         마포구         111. 상수역 2번출구 앞 2016-01-01        8
18         마포구            112. 극동방송국 앞 2016-01-01        4
19         마포구       113. 홍대입구역 2번출구 앞 2016-01-01       10
20         마포구       114. 홍대입구역 8번출구 앞 2016-01-01        3
21         마포구        118. 광흥창역 2번출구 앞 2016-01-01       10
22         마포구            119. 서강나루 공원 2016-01-01        1
23         마포구            120. 신수동 사거리 2016-01-01        6
24         마포구            121. 마포소방서 앞 2016-01-01        2
25         마포구           122. 신성기사식당 앞 2016-01-01       10
26         마포구         124. 서강대 정문 건너편 2016-01-01        9
27         마포구           125. 서강대 남문 옆 2016-01-01        2
28         마포구           126. 서강대 후문 옆 2016-01-01        3
29         마포구    129. 신촌역(2호선) 6번출구 옆 2016-01-01        5
...        ...                     ...        ...      ...
345245     중랑구          1405. 망우역 1번출구 2017-12-31        2
345246     중랑구          1406. 망우청소년수련관 2017-12-31        0
345247     중랑구        1407. 먹골역 1번출구 뒤 2017-12-31        6
345248     중랑구        1408. 먹골역 6번출구 앞 2017-12-31        2
345249     중랑구       1410. 면목 대원칸타빌아파트 2017-12-31        2
345250     중랑구  1411. 상봉시장앞 교차로 한성빌딩 앞 2017-12-31        2
345251     중랑구            1412. 면목초등학교 2017-12-31        4
345252     중랑구       1413. 봉화산역 5번출구 뒤 2017-12-31        2
345253     중랑구         1414. 사가정역 1번출구 2017-12-31        3
345254     중랑구          1416. 상봉역 3번출구 2017-12-31        2
345255     중랑구            1418. 새솔초등학교 2017-12-31        1
345256     중랑구          1420. 신내어울공원 앞 2017-12-31        0
345257     중랑구    1426. 면목도시개발아파트 1동 앞 2017-12-31        2
345258     중랑구            1428. 원묵고등학교 2017-12-31        1
345259     중랑구             1429. 장안중학교 2017-12-31        0
345260     중랑구              1430. 중랑구청 2017-12-31        2
345261     중랑구          1431. 중랑구청 사거리 2017-12-31        0
345262     중랑구          1433. 중화역 2번출구 2017-12-31        1
345263     중랑구         1434. 홈플러스 면목동점 2017-12-31        3
345264     중랑구             1435. 능산삼거리 2017-12-31        1
345265     중랑구            1436. 영풍마드레빌 2017-12-31        3
345266     중랑구           1437. 늘푸른공원 앞 2017-12-31        0
345267     중랑구        1438. 홈플러스 신내점 앞 2017-12-31        3
345268     중랑구         1440. 하나은행 면목지점 2017-12-31        1
345269     중랑구            1441. 신내능말공원 2017-12-31        2
345270     중랑구     1442. (구)신한은행 중랑교지점 2017-12-31        3
345271     중랑구             1445. 용마지구대 2017-12-31        1
345272     중랑구         1446. 중랑전화국 교차로 2017-12-31        3
345273     중랑구          1447. 면목역 3번출구 2017-12-31        1
345274     중랑구          1448. 코스트코 상봉점 2017-12-31       10

[345275 rows x 4 columns]

### oo없음 -> NA
단, NAN으로 나타난 것은 float, 나머지는 str임에 유의

In [33]:
print(rent_tot.area[0])
'없음' in rent_tot.area[0]

그룹명 없음

True

In [34]:
naFind= lambda x: '없음' in x

In [35]:
naFind(rent_tot.area[0])

True

In [37]:
rent_tot.area.map(naFind)

0          True
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
345245    False
345246    False
345247    False
345248    False
345249    False
345250    False
345251    False
345252    False
345253    False
345254    False
345255    False
345256    False
345257    False
345258    False
345259    False
345260    False
345261    False
345262    False
345263    False
345264    False
345265    False
345266    False
345267    False
345268    False
345269    False
345270    False
345271    False
345272    False
345273    False
345274    False
Name: area, Length: 345275, dtype: bool

In [38]:
sum(rent_tot.area.map(naFind))

1384

In [39]:
import numpy as np

In [43]:
np.nan

nan

In [47]:
rent_tot.area[rent_tot.area.map(naFind)]= np.nan

C:\Users\kitcoop\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
rent_tot.location[rent_tot.location.map(naFind)]= np.nan

C:\Users\kitcoop\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
rent_tot

       area                location   rentdate  rentcnt
0       NaN                     NaN 2016-01-01        0
1       광진구     500. 어린이대공원역 3번출구 앞 2016-01-01        7
2       광진구            501. 광진구의회 앞 2016-01-01        0
3       광진구      502. 뚝섬유원지역 1번출구 앞 2016-01-01        9
4       광진구        503. 더샵스타시티 C동 앞 2016-01-01        8
5       광진구          504. 신자초교입구교차로 2016-01-01        1
6       광진구     505. 자양사거리 광진아크로텔 앞 2016-01-01        4
7       광진구            515. 광양중학교 앞 2016-01-01        2
8       광진구            516. 광진메디칼 앞 2016-01-01        2
9       마포구        101. (구)합정동 주민센터 2016-01-01        3
10      마포구         102. 망원역 1번출구 앞 2016-01-01       13
11      마포구         103. 망원역 2번출구 앞 2016-01-01        2
12      마포구         104. 합정역 1번출구 앞 2016-01-01        3
13      마포구         105. 합정역 5번출구 앞 2016-01-01        4
14      마포구         106. 합정역 7번출구 앞 2016-01-01        6
15      마포구    107. 신한은행 서교동금융센터점 앞 2016-01-01        2
16      마포구            108. 서교동 사거리 2016-01-01        7
17      마포구         111. 상수역 2번출구 앞 2016-01-01        8
18      마포구            112. 극동방송국 앞 2016-01-01        4
19      마포구       113. 홍대입구역 2번출구 앞 2016-01-01       10
20      마포구       114. 홍대입구역 8번출구 앞 2016-01-01        3
21      마포구        118. 광흥창역 2번출구 앞 2016-01-01       10
22      마포구            119. 서강나루 공원 2016-01-01        1
23      마포구            120. 신수동 사거리 2016-01-01        6
24      마포구            121. 마포소방서 앞 2016-01-01        2
25      마포구           122. 신성기사식당 앞 2016-01-01       10
26      마포구         124. 서강대 정문 건너편 2016-01-01        9
27      마포구           125. 서강대 남문 옆 2016-01-01        2
28      마포구           126. 서강대 후문 옆 2016-01-01        3
29      마포구    129. 신촌역(2호선) 6번출구 옆 2016-01-01        5
...     ...                     ...        ...      ...
345245  중랑구          1405. 망우역 1번출구 2017-12-31        2
345246  중랑구          1406. 망우청소년수련관 2017-12-31        0
345247  중랑구        1407. 먹골역 1번출구 뒤 2017-12-31        6
345248  중랑구        1408. 먹골역 6번출구 앞 2017-12-31        2
345249  중랑구       1410. 면목 대원칸타빌아파트 2017-12-31        2
345250  중랑구  1411. 상봉시장앞 교차로 한성빌딩 앞 2017-12-31        2
345251  중랑구            1412. 면목초등학교 2017-12-31        4
345252  중랑구       1413. 봉화산역 5번출구 뒤 2017-12-31        2
345253  중랑구         1414. 사가정역 1번출구 2017-12-31        3
345254  중랑구          1416. 상봉역 3번출구 2017-12-31        2
345255  중랑구            1418. 새솔초등학교 2017-12-31        1
345256  중랑구          1420. 신내어울공원 앞 2017-12-31        0
345257  중랑구    1426. 면목도시개발아파트 1동 앞 2017-12-31        2
345258  중랑구            1428. 원묵고등학교 2017-12-31        1
345259  중랑구             1429. 장안중학교 2017-12-31        0
345260  중랑구              1430. 중랑구청 2017-12-31        2
345261  중랑구          1431. 중랑구청 사거리 2017-12-31        0
345262  중랑구          1433. 중화역 2번출구 2017-12-31        1
345263  중랑구         1434. 홈플러스 면목동점 2017-12-31        3
345264  중랑구             1435. 능산삼거리 2017-12-31        1
345265  중랑구            1436. 영풍마드레빌 2017-12-31        3
345266  중랑구           1437. 늘푸른공원 앞 2017-12-31        0
345267  중랑구        1438. 홈플러스 신내점 앞 2017-12-31        3
345268  중랑구         1440. 하나은행 면목지점 2017-12-31        1
345269  중랑구            1441. 신내능말공원 2017-12-31        2
345270  중랑구     1442. (구)신한은행 중랑교지점 2017-12-31        3
345271  중랑구             1445. 용마지구대 2017-12-31        1
345272  중랑구         1446. 중랑전화국 교차로 2017-12-31        3
345273  중랑구          1447. 면목역 3번출구 2017-12-31        1
345274  중랑구          1448. 코스트코 상봉점 2017-12-31       10

[345275 rows x 4 columns]

In [62]:
type(rent_tot.area[0])

float

In [58]:
# import math
# math.isnan?
# rent_tot.area.map(math.isnan)

In [67]:
sum(pd.isnull(rent_tot.rentdate))

0

In [68]:
sum(pd.isnull(rent_tot.rentcnt))

0

#### oo없음 -> NAN float 바꾼거 파일 저장

In [70]:
writer= pd.ExcelWriter('data/bycicleRental_tot_NANfloat.xlsx')
rent_tot.to_excel(writer, sheet_name='rent1617', index= False)
writer.save()