### ref
- [pandas read all csv files in folder](https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa)
- [dictionary add python](https://stackoverflow.com/questions/1024847/add-new-keys-to-a-dictionary)

In [15]:
from os import listdir
from os import path
import glob

import pandas as pd

In [18]:
path.abspath('.').replace('\\','/')

'D:/github/proj_sponge_bicycle'

In [9]:
listdir('data_join/totalByArea')

['.Rhistory',
 'nameList.txt',
 'tuning parameter in modeling.R',
 '광진구.csv',
 '동대문구.csv',
 '마포구.csv',
 '서대문구.csv',
 '성동구.csv',
 '양천구.csv',
 '영등포구.csv',
 '용산구.csv',
 '은평구.csv',
 '종로구.csv',
 '중구.csv']

In [54]:
path= 'data_join\\totalByArea\\'
filePaths= glob.glob(path+'*.csv')

In [59]:
windowfilePaths= [x.replace('\\','/') for x in filePaths]; windowfilePaths

['data_join/totalByArea/광진구.csv',
 'data_join/totalByArea/동대문구.csv',
 'data_join/totalByArea/마포구.csv',
 'data_join/totalByArea/서대문구.csv',
 'data_join/totalByArea/성동구.csv',
 'data_join/totalByArea/양천구.csv',
 'data_join/totalByArea/영등포구.csv',
 'data_join/totalByArea/용산구.csv',
 'data_join/totalByArea/은평구.csv',
 'data_join/totalByArea/종로구.csv',
 'data_join/totalByArea/중구.csv']

In [60]:
areaNames= [x.split('\\')[-1].split('.')[0] for x in filePaths]; areaNames

['광진구', '동대문구', '마포구', '서대문구', '성동구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구']

In [84]:
dictBikes= dict({})
for areaName, filePath in zip(areaNames, windowfilePaths):
    dictBikes[areaName]= pd.read_csv(filePath, index_col=None, encoding= 'cp949', engine= 'python')

In [91]:
bikeDkeys= list(dictBikes.keys()); bikeDkeys

['광진구', '동대문구', '마포구', '서대문구', '성동구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구']

In [92]:
print(dictBikes[bikeDkeys[0]].shape)
print(dictBikes[bikeDkeys[0]].columns)
dictBikes[bikeDkeys[0]].head(2)

(730, 26)
Index(['날짜', 'area', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속',
       '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소',
       '아황산가스', 'year', 'month', 'day', 'hour', 'minute', 'second',
       'dayofweek', 'weekday', 'weekend'],
      dtype='object')

,날짜,area,rentcnt,인구,아파트가격,평균풍속,최대풍속,순간최고풍속,기온평균,강수일강수,...,아황산가스,year,month,day,hour,minute,second,dayofweek,weekday,weekend
0,2016-01-01,4,40,248415,94.6,0.8,4.0,5.5,2.9,0.0,...,0.005,2016,1,1,0,0,0,4,1.0,0.0
1,2016-01-02,4,25,248415,94.6,1.2,6.1,7.2,6.9,0.0,...,0.005,2016,1,2,0,0,0,5,0.0,1.0