In [253]:
import numpy as np
import pandas as pd
from dateutil.parser import parse

In [ ]:
#데이터 이어 붙이기 2016, 2017

In [24]:
table1 = pd.read_csv('C:/github/proj_sponge_bicycle/data/2016_bicycle.csv', encoding = 'cp949')

In [25]:
table1.head()

     area    rentdate  rentcnt
0  그룹명 없음  2016-01-01        0
1     광진구  2016-01-01        7
2     광진구  2016-01-01        0
3     광진구  2016-01-01        9
4     광진구  2016-01-01        8

In [26]:
table2 = pd.read_csv('C:/github/proj_sponge_bicycle/data/2017_bicycle.csv', encoding = 'cp949')

In [27]:
table2.head()

  area    rentdate  rentcnt
0  광진구  2017-01-01       20
1  광진구  2017-01-01       10
2  광진구  2017-01-01        9
3  광진구  2017-01-01        9
4  광진구  2017-01-01        6

In [29]:
final_table = pd.concat([table1, table2])

In [36]:
final_table.to_csv('final_bicycle.csv', encoding = 'cp949')

In [ ]:
# 공공자전거 수요 데이터 일 별로 합치기

In [37]:
table3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/final_bicycle.csv', encoding = 'cp949')

In [43]:
table_sum = table3.groupby(['area','rentdate']).sum()

In [44]:
table_sum.to_csv('table_sum.csv', encoding = 'cp949')

In [ ]:
# 공공자전거 수요 데이터 구 별로 자르기

In [45]:
table4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/table_sum.csv', encoding = 'cp949')

In [55]:
gwangjingu_table = table4[table4.area == '광진구']

In [56]:
gwangjingu_table.to_csv('gwangjingu_table.csv', encoding = 'cp949')

In [57]:
dongdaemungu_table = table4[table4.area == '동대문구']

In [58]:
dongdaemungu_table.to_csv('dongdaemungu_table.csv', encoding = 'cp949')

In [59]:
mapogu_table = table4[table4.area == '마포구']

In [60]:
mapogu_table.to_csv('mapogu_table.csv', encoding = 'cp949')

In [61]:
seodaemungu_table = table4[table4.area == '서대문구']

In [62]:
seodaemungu_table.to_csv('seodaemungu_table.csv', encoding = 'cp949')

In [63]:
seongdonggu_table = table4[table4.area == '성동구']

In [64]:
seongdonggu_table.to_csv('seongdonggu_table.csv', encoding = 'cp949')

In [65]:
yangcheongu_table = table4[table4.area == '양천구']

In [66]:
yangcheongu_table.to_csv('yangcheongu_table.csv', encoding = 'cp949')

In [67]:
yeongdeungpogu_table = table4[table4.area == '영등포구']

In [68]:
yeongdeungpogu_table.to_csv('yeongdeungpogu_table.csv', encoding = 'cp949')

In [69]:
yongsangu_table = table4[table4.area == '용산구']

In [70]:
yongsangu_table.to_csv('yongsangu_table.csv', encoding = 'cp949')

In [71]:
eunpyeonggu_table = table4[table4.area == '은평구']

In [72]:
eunpyeonggu_table.to_csv('eunpyeonggu_table.csv', encoding = 'cp949')

In [73]:
jonglogu_table = table4[table4.area == '종로구']

In [75]:
jonglogu_table.to_csv('jonglogu_table.csv', encoding = 'cp949')

In [77]:
junggu_table = table4[table4.area == '중구']

In [78]:
junggu_table.to_csv('junggu_table.csv', encoding = 'cp949')

In [ ]:
# 아파트 지가 구 별로 자르기

In [129]:
table5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/apartPrice_clean.csv', encoding = 'cp949')

In [130]:
table5.head()

,날짜,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
0,2016-01,94.5,95.2,93.8,94.6,94.0,95.2,97.1,95.3,96.7,...,91.3,93.8,93.8,92.7,92.8,92.2,93.4,89.7,92.1,92.3
1,2016-02,94.5,95.3,93.9,94.7,94.1,95.3,97.2,95.3,96.7,...,91.4,93.6,93.9,92.7,92.9,92.3,93.4,89.5,92.1,92.1
2,2016-03,94.5,95.3,93.9,94.7,94.1,95.3,97.3,95.3,96.7,...,91.5,93.6,94.0,92.7,92.9,92.4,93.3,89.5,92.0,92.0
3,2016-04,94.6,95.3,94.0,94.8,94.1,95.4,97.3,95.3,96.7,...,91.6,93.7,94.1,92.8,93.0,92.6,93.4,89.8,92.1,92.1
4,2016-05,94.7,95.4,94.2,94.9,94.2,95.5,97.4,95.4,96.8,...,91.8,93.8,94.3,93.0,93.2,92.9,93.7,90.4,92.2,92.4

In [167]:
gwangjingu_apart = pd.DataFrame(table5, columns = ['날짜', '광진구'])

In [168]:
gwangjingu_apart.to_csv('gwangjingu_apart.csv', encoding = 'cp949', index=False)

In [169]:
dongdaemungu_apart = pd.DataFrame(table5, columns = ['날짜', '동대문구'])

In [170]:
dongdaemungu_apart.to_csv('dongdaemungu_apart.csv', encoding = 'cp949', index=False)

In [171]:
mapogu_apart = pd.DataFrame(table5, columns = ['날짜', '마포구'])

In [172]:
mapogu_apart.to_csv('mapogu_apart.csv', encoding = 'cp949', index=False)

In [173]:
seodaemungu_apart = pd.DataFrame(table5, columns = ['날짜', '서대문구'])

In [174]:
seodaemungu_apart.to_csv('seodaemungu_apart.csv', encoding = 'cp949', index=False)

In [175]:
seongdonggu_apart = pd.DataFrame(table5, columns = ['날짜', '성동구'])

In [176]:
seongdonggu_apart.to_csv('seongdonggu_apart.csv', encoding = 'cp949', index=False)

In [177]:
yangcheongu_apart = pd.DataFrame(table5, columns = ['날짜', '양천구'])

In [178]:
yangcheongu_apart.to_csv('yangcheongu_apart.csv', encoding = 'cp949', index=False)

In [179]:
yeongdeungpogu_apart = pd.DataFrame(table5, columns = ['날짜', '영등포구'])

In [180]:
yeongdeungpogu_apart.to_csv('yeongdeungpogu_apart.csv', encoding = 'cp949', index=False)

In [181]:
yongsangu_apart = pd.DataFrame(table5, columns = ['날짜', '용산구'])

In [182]:
yongsangu_apart.to_csv('yongsangu_apart.csv', encoding = 'cp949', index=False)

In [183]:
eunpyeonggu_apart = pd.DataFrame(table5, columns = ['날짜', '은평구'])

In [184]:
eunpyeonggu_apart.to_csv('eunpyeonggu_apart.csv', encoding = 'cp949', index=False)

In [185]:
jonglogu_apart = pd.DataFrame(table5, columns = ['날짜', '종로구'])

In [186]:
jonglogu_apart.to_csv('jonglogu_apart.csv', encoding = 'cp949', index=False)

In [187]:
junggu_apart = pd.DataFrame(table5, columns = ['날짜', '중구'])

In [188]:
junggu_apart.to_csv('junggu_apart.csv', encoding = 'cp949', index=False)

In [ ]:
# 인구 데이터 구 별로 자르기

In [189]:
table6 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/final_seoulPopulation.csv', encoding = 'cp949')

In [190]:
table6.head()

,date,종로구인구,중구인구,용산구인구,성동구인구,광진구인구,동대문구인구,서대문구인구,마포구인구,양천구인구,영등포구인구,은평구인구
0,Jan-16,128540,103841,191827,248415,308607,299344,259015,323075,413751,316451,412772
1,Feb-16,128595,103743,191686,248286,308575,299231,260165,323077,413073,316450,412342
2,Mar-16,128796,103901,191462,248079,308437,299109,260936,322836,412295,316226,411823
3,Apr-16,128531,103896,191294,248059,308216,298722,261366,322190,411698,315998,411214
4,May-16,128222,103697,191116,248468,307701,298109,261204,321551,411222,315556,410738

In [193]:
gwangjingu_pop = pd.DataFrame(table6, columns = ['date', '광진구인구'])

In [194]:
gwangjingu_pop.to_csv('gwangjingu_pop.csv', encoding = 'cp949', index=False)

In [195]:
dongdaemungu_pop = pd.DataFrame(table6, columns = ['date', '동대문구인구'])

In [196]:
dongdaemungu_pop.to_csv('dongdaemungu_pop.csv', encoding = 'cp949', index=False)

In [197]:
mapogu_pop = pd.DataFrame(table6, columns = ['date', '마포구인구'])

In [198]:
mapogu_pop.to_csv('mapogu_pop.csv', encoding = 'cp949', index=False)

In [199]:
seodaemungu_pop = pd.DataFrame(table6, columns = ['date', '서대문구인구'])

In [200]:
seodaemungu_pop.to_csv('seodaemungu_pop.csv', encoding = 'cp949', index=False)

In [201]:
seongdonggu_pop = pd.DataFrame(table6, columns = ['date', '성동구인구'])

In [202]:
seongdonggu_pop.to_csv('seongdonggu_pop.csv', encoding = 'cp949', index=False)

In [203]:
yangcheongu_pop = pd.DataFrame(table6, columns = ['date', '양천구인구'])

In [204]:
yangcheongu_pop.to_csv('yangcheongu_pop.csv', encoding = 'cp949', index=False)

In [205]:
yeongdeungpogu_pop = pd.DataFrame(table6, columns = ['date', '영등포구인구'])

In [206]:
yeongdeungpogu_pop.to_csv('yeongdeungpogu_pop.csv', encoding = 'cp949', index=False)

In [207]:
yongsangu_pop = pd.DataFrame(table6, columns = ['date', '용산구인구'])

In [208]:
yongsangu_pop.to_csv('yongsangu_pop.csv', encoding = 'cp949', index=False)

In [209]:
eunpyeonggu_pop = pd.DataFrame(table6, columns = ['date', '은평구인구'])

In [210]:
eunpyeonggu_pop.to_csv('eunpyeonggu_pop.csv', encoding = 'cp949', index=False)

In [211]:
jonglogu_pop = pd.DataFrame(table6, columns = ['date', '종로구인구'])

In [212]:
jonglogu_pop.to_csv('jonglogu_pop.csv', encoding = 'cp949', index=False)

In [213]:
junggu_pop = pd.DataFrame(table6, columns = ['date', '중구인구'])

In [214]:
junggu_pop.to_csv('junggu_pop.csv', encoding = 'cp949', index=False)

In [215]:
# 11개 구 별 5개 데이터 병합(최종 데이터 셋 만들기)

In [350]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/gwangjingu/gwangjingu_table.csv', encoding = 'cp949')

In [351]:
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/gwangjingu/gwangjingu.csv', encoding = 'cp949')

In [352]:
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/gwangjingu/gwangjingu_airpollution.csv', encoding = 'cp949')

In [353]:
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/gwangjingu/gwangjingu_pop.csv', encoding = 'cp949')

In [354]:
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/gwangjingu/gwangjingu_apart.csv', encoding = 'cp949')

In [355]:
data1.head() # 결측치 없음

  area          날짜  rentcnt
0  광진구  2016-01-01       33
1  광진구  2016-01-02       22
2  광진구  2016-01-03       35
3  광진구  2016-01-04       29
4  광진구  2016-01-05       23

In [356]:
data2.head() # 결측치 있음

           날짜  평균풍속  최대풍속  순간최고풍속  기온평균  강수일강수  습도평균
0  2016-01-01   0.8   2.7     3.9   2.1    0.0  74.6
1  2016-01-02   1.1   3.0     4.3   7.0    0.0  74.3
2  2016-01-03   0.6   3.0     4.2   7.7    0.0  80.5
3  2016-01-04   2.2   5.1     7.0   4.2    0.0  53.6
4  2016-01-05   1.9   5.2     6.8  -0.4    0.0  37.2

In [357]:
data3.head() # 결측치 있음

,날짜,미세먼지PM-10(㎍/㎥),초미세먼지PM-25(㎍/㎥),오존O3(ppm),이산화질소NO2(ppm),일산화탄소CO(ppm),아황산가스SO2(ppm)
0,2016-01-01,85,64,0.004,0.046,0.9,0.006
1,2016-01-02,58,41,0.007,0.043,0.6,0.005
2,2016-01-03,111,80,0.009,0.051,1.0,0.005
3,2016-01-04,85,61,0.026,0.024,0.8,0.005
4,2016-01-05,29,19,0.018,0.021,0.3,0.006

In [358]:
data4.head() # 결측치 있음

           날짜   광진구인구
0  2016-01-01  308607
1  2016-02-01  308575
2  2016-03-01  308437
3  2016-04-01  308216
4  2016-05-01  307701

In [359]:
data5.head() # 결측치 있음

           날짜   광진구
0  2016-01-01  94.0
1  2016-02-01  94.1
2  2016-03-01  94.1
3  2016-04-01  94.1
4  2016-05-01  94.2

In [360]:
table = pd.merge(data1, data4, on = '날짜', how = 'outer');table.head()

  area          날짜  rentcnt     광진구인구
0  광진구  2016-01-01       33  308607.0
1  광진구  2016-01-02       22       NaN
2  광진구  2016-01-03       35       NaN
3  광진구  2016-01-04       29       NaN
4  광진구  2016-01-05       23       NaN

In [361]:
table = pd.merge(table, data5, on = '날짜', how = 'outer');table.head()

  area          날짜  rentcnt     광진구인구   광진구
0  광진구  2016-01-01       33  308607.0  94.0
1  광진구  2016-01-02       22       NaN   NaN
2  광진구  2016-01-03       35       NaN   NaN
3  광진구  2016-01-04       29       NaN   NaN
4  광진구  2016-01-05       23       NaN   NaN

In [362]:
table = table.fillna(method = 'ffill');table.head()

  area          날짜  rentcnt     광진구인구   광진구
0  광진구  2016-01-01       33  308607.0  94.0
1  광진구  2016-01-02       22  308607.0  94.0
2  광진구  2016-01-03       35  308607.0  94.0
3  광진구  2016-01-04       29  308607.0  94.0
4  광진구  2016-01-05       23  308607.0  94.0

In [363]:
table = pd.merge(table, data2, on = '날짜');table.head()

,area,날짜,rentcnt,광진구인구,광진구,평균풍속,최대풍속,순간최고풍속,기온평균,강수일강수,습도평균
0,광진구,2016-01-01,33,308607.0,94.0,0.8,2.7,3.9,2.1,0.0,74.6
1,광진구,2016-01-02,22,308607.0,94.0,1.1,3.0,4.3,7.0,0.0,74.3
2,광진구,2016-01-03,35,308607.0,94.0,0.6,3.0,4.2,7.7,0.0,80.5
3,광진구,2016-01-04,29,308607.0,94.0,2.2,5.1,7.0,4.2,0.0,53.6
4,광진구,2016-01-05,23,308607.0,94.0,1.9,5.2,6.8,-0.4,0.0,37.2

In [364]:
table = pd.merge(table, data3, on = '날짜');table.head()

,area,날짜,rentcnt,광진구인구,광진구,평균풍속,최대풍속,순간최고풍속,기온평균,강수일강수,습도평균,미세먼지PM-10(㎍/㎥),초미세먼지PM-25(㎍/㎥),오존O3(ppm),이산화질소NO2(ppm),일산화탄소CO(ppm),아황산가스SO2(ppm)
0,광진구,2016-01-01,33,308607.0,94.0,0.8,2.7,3.9,2.1,0.0,74.6,85,64,0.004,0.046,0.9,0.006
1,광진구,2016-01-02,22,308607.0,94.0,1.1,3.0,4.3,7.0,0.0,74.3,58,41,0.007,0.043,0.6,0.005
2,광진구,2016-01-03,35,308607.0,94.0,0.6,3.0,4.2,7.7,0.0,80.5,111,80,0.009,0.051,1.0,0.005
3,광진구,2016-01-04,29,308607.0,94.0,2.2,5.1,7.0,4.2,0.0,53.6,85,61,0.026,0.024,0.8,0.005
4,광진구,2016-01-05,23,308607.0,94.0,1.9,5.2,6.8,-0.4,0.0,37.2,29,19,0.018,0.021,0.3,0.006

In [365]:
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']

In [366]:
table.to_csv('gwangjingu_dataset.csv', encoding = 'cp949', index=False)

In [368]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/dongdaemungu/dongdaemungu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/dongdaemungu/dongdaemungu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/dongdaemungu/dongdaemungu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/dongdaemungu/dongdaemungu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/dongdaemungu/dongdaemungu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('dongdaemungu_dataset.csv', encoding = 'cp949', index=False)

In [369]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/eunpyeonggu/eunpyeonggu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/eunpyeonggu/eunpyeonggu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/eunpyeonggu/eunpyeonggu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/eunpyeonggu/eunpyeonggu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/eunpyeonggu/eunpyeonggu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('eunpyeonggu_dataset.csv', encoding = 'cp949', index=False)

In [370]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/jonglogu/jonglogu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/jonglogu/jonglogu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/jonglogu/jonglogu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/jonglogu/jonglogu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/jonglogu/jonglogu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('jonglogu_dataset.csv', encoding = 'cp949', index=False)

In [371]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/junggu/junggu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/junggu/junggu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/junggu/junggu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/junggu/junggu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/junggu/junggu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('junggu_dataset.csv', encoding = 'cp949', index=False)

In [372]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/mapogu/mapogu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/mapogu/mapogu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/mapogu/mapogu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/mapogu/mapogu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/mapogu/mapogu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('mapogu_dataset.csv', encoding = 'cp949', index=False)

In [373]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seodaemungu/seodaemungu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seodaemungu/seodaemungu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seodaemungu/seodaemungu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seodaemungu/seodaemungu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seodaemungu/seodaemungu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('seodaemungu_dataset.csv', encoding = 'cp949', index=False)

In [374]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seongdonggu/seongdonggu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seongdonggu/seongdonggu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seongdonggu/seongdonggu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seongdonggu/seongdonggu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/seongdonggu/seongdonggu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('seongdonggu_dataset.csv', encoding = 'cp949', index=False)

In [375]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yangcheongu/yangcheongu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yangcheongu/yangcheongu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yangcheongu/yangcheongu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yangcheongu/yangcheongu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yangcheongu/yangcheongu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('yangcheongu_dataset.csv', encoding = 'cp949', index=False)

In [376]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yeongdeungpogu/yeongdeungpogu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yeongdeungpogu/yeongdeungpogu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yeongdeungpogu/yeongdeungpogu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yeongdeungpogu/yeongdeungpogu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yeongdeungpogu/yeongdeungpogu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('yeongdeungpogu_dataset.csv', encoding = 'cp949', index=False)

In [377]:
data1 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yongsangu/yongsangu_table.csv', encoding = 'cp949')
data2 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yongsangu/yongsangu.csv', encoding = 'cp949')
data3 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yongsangu/yongsangu_airpollution.csv', encoding = 'cp949')
data4 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yongsangu/yongsangu_pop.csv', encoding = 'cp949')
data5 = pd.read_csv('C:/github/proj_sponge_bicycle/data_join/dataset/yongsangu/yongsangu_apart.csv', encoding = 'cp949')
table = pd.merge(data1, data4, on = '날짜', how = 'outer')
table = pd.merge(table, data5, on = '날짜', how = 'outer')
table = table.fillna(method = 'ffill')
table = pd.merge(table, data2, on = '날짜')
table = pd.merge(table, data3, on = '날짜')
table.columns = ['area', '날짜', 'rentcnt', '인구', '아파트가격', '평균풍속', '최대풍속', '순간최고풍속', '기온평균', '강수일강수', '습도평균', '미세먼지', '초미세먼지', '오존', '이산화질소', '일산화탄소', '아황산가스']
table.to_csv('yongsangu_dataset.csv', encoding = 'cp949', index=False)